<div class="product__purchase-options">
    <h3>Purchase Options</h3>
    <div class="flex flex-col align-stretch product__purchase-options--buttons">
        <button class="btn white full bordered-black active">
            <div class="btn-checkbox">
                {{ 'icon-radio.svg' | inline_asset_content }}
                Monthly Subscription 
            </div>
            <span>{{ price | money }}</span>
        </button>
        <button class="btn white full bordered-black">
            <div class="btn-checkbox">
                {{ 'icon-radio.svg' | inline_asset_content }}
                One Time Purchase 
            </div>
            <span>{{ price | money }}</span>
        </button>
    </div>
</div>