<div class="product__qty">
    <h4>Quantity</h4>
    <div class="flex align-center justify-between product__qty--inner-wrapper">
        <button class="btn white bordered-black qty-button" data-operation="minus">
            {{ 'icon-minus.svg' | inline_asset_content }}
        </button>
        <div class="product__qty--value">
            1
        </div>
        <button class="btn white bordered-black qty-button" data-operation="add">
            {{ 'icon-plus.svg' | inline_asset_content }}
        </button>
    </div>
</div>