<div class="flex align-center justify-center product__cart">
    <button class="btn">
        Add to Card 
        {{ 'icon-shopping-cart.svg' | inline_asset_content }}
    </button>
    <button class="btn white bordered-black">
        Buy it now
        {{ 'icon-shopping-bag.svg' | inline_asset_content }}
    </button>
</div>