{% if section.blocks.size > 0 %}
  <section class="main-product-slider">
    <div class="container">
      <div class="product-slider">
        <div class="splide product-slider-element" id="main-product-slider-{{ section.id }}">
          <div class="splide__track">
            <div class="splide__list">
              {% for block in section.blocks %}
                {% if block.settings.product != blank %}
                  {% assign selectedProduct = all_products[block.settings.product] %}
                  {% if selectedProduct != blank %}
                    <div class="splide__slide">
                      {% assign product_title = block.settings.title | default: selectedProduct.title %}
                      {% if block.settings.description != blank %}
                        {% assign product_excerpt = block.settings.description %}
                      {% else %}
                        {% assign product_excerpt = selectedProduct.metafields.custom.excerpt | metafield_tag %}
                      {% endif %}
                      {% render 'components-product-card-new',
                        product_image: selectedProduct.featured_image,
                        product_title: product_title,
                        product_excerpt: product_excerpt,
                        product_price: selectedProduct.price,
                        product_url: selectedProduct.url,
                        show_price: section.settings.show_price
                      %}
                    </div>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="main-product-slider__navigation">
            <div
              class="btn circle transparent bordered-black product-slider__arrow"
              id="product-slider-prev"
              data-id="-1"
            >
              {{ 'icon-caret-left.svg' | inline_asset_content }}
            </div>
            <div
              class="btn circle transparent bordered-black product-slider__arrow"
              id="product-slider-next"
              data-id="+1"
            >
              {{ 'icon-caret-right.svg' | inline_asset_content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}

{% schema %}
{
  "name": "Main Product Slider",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_price",
      "label": "Show Price",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "info": "Override product title"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "info": "Override product description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Main Product Slider",
      "category": "DOJO",
      "settings": {
        "show_price": true
      },
      "blocks": {
        "product_DcFah8": {
          "type": "product",
          "settings": {
            "product": "zesty-cucumber-lemon"
          }
        },
        "product_JPx7EL": {
          "type": "product",
          "settings": {
            "product": "zesty-lychee"
          }
        },
        "product_bzLngx": {
          "type": "product",
          "settings": {
            "product": "zesty-coconut"
          }
        }
      },
      "block_order": [
        "product_DcFah8",
        "product_JPx7EL",
        "product_bzLngx"
      ],
    }
  ]
}
{% endschema %}
