<section class="collection__list">
    <div class="container">
        <div class="collection__list--inner-wrapper">
            <div class="collection__list--header">
                <div class="collection__list--header-title site-title__lg">
                    {{ collection.title }}
                </div>
                {% if collection.description != blank %}
                <div class="collection__list--header-desc">
                    {{ collection.description }}
                </div>
                {% endif %}
            </div>
            <div class="product-card-new__list">
                {% paginate collection.products by 6 %}
                    {% for product in collection.products %}
                        {% assign product_excerpt = product.metafields.custom.excerpt | metafield_tag | strip_html %}
                        {% render 'components-product-card-new', 
                            product_image: product.featured_image,
                            product_title: product.title,
                            product_excerpt: product_excerpt,
                            product_price: product.price,
                            product_url: product.url
                        %}
                    {% endfor %}
                {% endpaginate %}
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Collection List"
}
{% endschema %}