<div class="pricing__banner">
    {% render 'components-vision' %}
</div>

{% schema %}
{
    "name": "Pricing Banner",
    "settings": [
        {
            "type": "image_picker", 
            "id": "vision_image",
            "label": "Image"
        }  
    ]
}
{% endschema %}