{% assign long_title = product.metafields.custom.long_name %}
{% assign background = product.title | handleize %}
{% assign product_image_url = product.featured_image | img_url: '500x' %}
{% assign price = product.price %}

{% if long_title == blank %}
    {% assign long_title = product.title %}
{% endif %}

<section class="product__details">
  <div class="container">
    <div class="flex flex-wrap align-start justify-between product__details--inner-wrapper">
      {%# Start of Media Section #%}
      {% render 'product-media', 
        product_image_url: product_image_url,
        product_title: product.title,
        background: background 
      %}
      {%# End of Media Section #%}
      {%# Start of Content #%}
      <div class="product__details--text-content">
        <div class="product__details--text-inner">
          {%# Product Header #%}
          {% render 'product-header', 
            product_title: long_title, 
            product_price: price 
          %}

          {%# Product Subscription #%}
          {% render 'product-subscription-banner', 
            background: background
          %}
          
          {%# Product Form #%}
          {% form 
            'product', product, 
            class: 'product__form', 
            id: "product-form-{{ product.id }}" 
          %}
            <input type="hidden" name="id" value="{{ product.variants.first.id }}">
            {%# Purchase Options #%}
            {% render 'product-purchase-option' %}
            {%# Product Quantity #%}
            {% render 'product-quantity' %}
            {%# Add to Cart #%}
            {% render 'product-add-to-cart' %}
          {% endform %}

          {%# Payment List #%}
          {% render 'global-payment-methods' %}
        </div>
        <div class="product__details--accordion">
          {% render 'product-details-accordion' %}
        </div>
      </div>
      {%# End of Product Text Content  #%}
    </div>
  </div>
</section>