/** Breakpoints **/
:root {
  --zesty-coconut: #e5fff2;
  --zesty-coconut-50: #00b75b;
  --zesty-coconut-80: #42643e;
  --zesty-lychee: #ffe8ef;
  --winty: #fbdec0;
  --zesty-cucumber-lemon: #fcfbd2;
  --mixie: #ffb5cc;
}
.template-about-us .contact-us form .form__control {
  border-radius: 0;
}
.template-about-us .contact-us form .form__submit button {
  border-radius: 0;
  padding-inline: 56px;
}
.about__story {
  padding: 0 0 12px;
}
.about__story--inner-wrapper {
  border: 1px solid var(--color-primary);
  border-radius: 24px;
  overflow: hidden;
  flex-direction: column;
}
.about__story--text-content {
  width: 100%;
  padding: 24px;
}
.about__story--text-content .site-title__lg {
  text-transform: uppercase;
  margin-bottom: 24px;
}
.about__story--image {
  width: 100%;
  height: 220px;
}
.about__story--image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.about__difference {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  /* padding: 0 0 12px; */
}
.about__difference--inner-wrapper {
  overflow: hidden;
  flex-direction: column-reverse;
}
.about__difference--text-content {
  width: 100%;
  padding: 24px;
}
.about__difference--text-content .site-title__lg {
  text-transform: uppercase;
  margin-bottom: 24px;
}
.about__difference--image {
  width: 100%;
  height: 220px;
}
.about__difference--image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top center;
  object-position: top center;
}

.about__vision {
  padding-block: 56px;
  background-color: #f9f8f6;
  border-top: 1px solid var(--color-primary);
}
.about__vision--inner-wrapper {
  gap: 120px;
}
.about__vision .vision-image {
  border: none;
  width: min(50%, 620px);
}
.about__vision .vision-image .vision-image__banner {
  display: none;
}
.about__vision--text-content {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.about__vision--text-content .site-title__lg {
  margin-bottom: 24px;
}
.about__vision--image {
  width: 100%;
  flex-grow: 1;
  position: relative;
}
.about__vision--image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  margin-inline: auto;
}
.about__vision--image-container {
  height: 380px;
}
.about__vision--banner-text {
  background-color: var(--color-primary);
  display: flex;
  padding: 16px 0;
  gap: 12px;
  color: var(--color-secondary);
}
.about__vision--banner-text span,
.about__vision--banner-text svg {
  flex-shrink: 0;
}
.about__vision--banner-text span {
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase;
  color: var(--color-secondary);
}
.about__vision--banner-text svg path {
  fill: var(--color-secondary);
}
@media screen and (min-width: 992px) {
  .about__story {
    padding: 32px 0;
  }
  .about__story--inner-wrapper {
    flex-direction: row-reverse;
    padding: 0;
  }
  .about__story--text-content {
    width: 40.32%;
    padding: 0 40px;
  }
  .about__story--image {
    width: 56.2%;
    height: 472px;
  }
  .about__difference {
    /* padding: 32px 0; */
  }
  .about__difference--inner-wrapper {
    flex-direction: row-reverse;
    padding: 0;
  }
  .about__difference--text-content {
    width: 40.32%;
    padding: 40px;
  }
  .about__difference--image {
    width: 56.2%;
    height: auto;
  }
  .about__vision--image {
    padding: 0;
  }
  .about__vision--image-container {
    height: 450px;
  }
}

@media only screen and (max-width: 991.98px) {
  .about__vision--inner-wrapper {
    gap: 40px;
  }
}

@media only screen and (max-width: 575.98px) {
  .about__vision {
    padding-block: 12px;
    border-top: 0;
    background-color: transparent;
  }
  .about__difference {
    background-color: transparent;
    color: inherit;
    padding-block: 12px;
  }
  .about__difference--inner-wrapper {
    border-radius: 24px;
    border: 1px solid var(--color-primary);
  }

  .about__vision--inner-wrapper {
    flex-direction: column;
    gap: 24px;
  }
  .about__vision .about__vision--text-content {
    border: 1px solid var(--color-primary);
    padding: 24px;
    border-radius: 24px;
  }
  .about__vision .vision-image {
    width: 100%;
    border: 1px solid var(--color-primary);
  }

  .about__vision .vision-image .vision-image__banner {
    display: inherit;
  }

  .template-about-us .contact-us form .form__control {
    border-radius: 8px;
  }

  .template-about-us .contact-us form .form__submit button {
    border-radius: calc(infinity * 1px);
  }
}
