/** Breakpoints **/
:root {
  --zesty-coconut: #e5fff2;
  --zesty-coconut-50: #00b75b;
  --zesty-coconut-80: #42643e;
  --zesty-lychee: #ffe8ef;
  --winty: #fbdec0;
  --zesty-cucumber-lemon: #fcfbd2;
  --mixie: #ffb5cc;
}
