/** Breakpoints **/
:root {
  --zesty-coconut: #E5FFF2;
  --zesty-coconut-50: #00B75B;
  --zesty-coconut-80: #42643E;
  --zesty-lychee: #FFE8EF;
  --zesty-lychee-50: #E2CBD2;
  --zesty-lychee-80: #665D5F;
  --winty: #FBDEC0;
  --winty-50: #DAC1A3;
  --winty-80: #64594D;
  --zesty-cucumber-lemon: #FCFBD2;
  --zesty-cucumber-lemon-50: #DFDEB5;
  --zesty-cucumber-lemon-80: #656454;
  --mixie: #FFB5CC;
  --mixie-50: #E298AF;
  --mixie-80: #664851;
}

body {
  background-color: #F1F1F1;
}

.homepage__faq--inner-wrapper,
.new-product__grid--wrapper {
  background-color: var(--color-secondary);
}

.homepage__faq {
  padding: 12px 0;
}

.homepage__faq--inner-wrapper {
  padding-block: 24px;
  border-radius: 24px;
  border: 1px solid var(--color-primary);
  padding-inline: 40px;
}

.product__details {
  margin-top: 40px;
  position: relative;
}
.product__details--inner-wrapper {
  padding: 16px 24px 24px;
  border-radius: 24px;
  border: 1px solid var(--color-primary);
  background-color: var(--color-secondary);
  gap: 24px;
}
.product__details--media {
  position: relative;
  flex-grow: 1;
  width: 100%;
}
.product__details--media-container {
  padding: 15px 27px;
  border-radius: 24px;
}
.product__details--media-container img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  margin-inline: auto;
}
.product__details--text-content {
  flex-grow: 1;
  width: 100%;
}
.product__details--text-inner {
  border-bottom: 1px solid #D6D6D6;
  padding-bottom: 24px;
}

.product__ratings {
  margin: 16px 0;
  justify-content: center;
}
.product__ratings .review-ratings__text-content {
  flex-grow: 0;
  width: -moz-max-content;
  width: max-content;
}
.product__ratings .review-ratings__item svg path {
  fill: #FCD116;
}

.product__price {
  gap: 8px;
  justify-content: center;
}
.product__price h4 {
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}
.product__price p {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: #5B5B5B;
}

.product__subscription {
  border: 1px solid;
  border-radius: 24px;
  padding: 24px;
  margin-top: 40px;
}
.product__subscription h3 {
  margin-bottom: 12px;
}
.product__subscription--banner {
  width: 89.2px;
  height: 89.2px;
  aspect-ratio: 89.2/89.2;
  border-radius: 891.999px;
  border: 0.892px solid var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--color-secondary);
  position: absolute;
  top: -28px;
  right: -12.2px;
}
.product__subscription--banner h4 {
  font-size: 35.68px;
  font-weight: 700;
  line-height: 1;
}
.product__subscription--banner span {
  font-size: 10.704px;
  font-weight: 500;
  line-height: normal;
  display: block;
}

.product__purchase-options {
  margin-top: 24px;
}
.product__purchase-options--buttons {
  gap: 16px;
  margin-top: 16px;
}
.product__purchase-options .btn {
  border-radius: 12px;
  justify-content: space-between;
  text-transform: capitalize;
  padding: 0 16px;
}
.product__purchase-options .btn svg:last-of-type {
  display: none;
}
.product__purchase-options .btn .btn-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
}
.product__purchase-options .btn.active {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}
.product__purchase-options .btn.active svg:first-of-type {
  display: none;
}
.product__purchase-options .btn.active svg:last-of-type {
  display: block;
}

.product__qty {
  margin-top: 24px;
}
.product__qty h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.product__qty--value {
  all: unset;
  width: 20px;
  margin-inline: auto;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}
.product__qty--inner-wrapper {
  margin-top: 16px;
}
.product__qty .qty-button {
  height: 40px;
  padding-inline: 16px;
}
.product__qty .qty-button svg {
  width: 24px;
  height: 24px;
}
.product__qty .qty-button:hover {
  background-color: var(--color-primary);
}

.product__cart {
  gap: 24px;
  margin-top: 40px;
  flex-wrap: wrap;
}
.product__cart .btn {
  width: 100%;
  gap: 16px;
}

.payment-list {
  margin-top: 24px;
  flex-wrap: wrap;
  gap: 8px;
}
.payment-list .payment-icon {
  width: 90.225px;
  height: 49.112px;
  flex-grow: 1;
}
.payment-list .payment-icon img {
  max-width: 77.851px;
}

.product__ingredients {
  padding: 40px 24px 80px;
}
.product__ingredients--image {
  margin-inline: auto;
}
.product__ingredients--list {
  gap: 40px;
  margin-top: 65px;
}
.product__ingredients--list-item {
  text-align: center;
}
.product__ingredients--list-item h4 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
}
.product__ingredients--list-item span {
  display: block;
  margin-top: 4px;
  color: #717171;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
}

.product__description {
  padding: 24px 0;
}
.product__description--data {
  border-top: 1px solid #D6D6D6;
  height: 0;
  visibility: hidden;
  transition: height 0.3s linear;
}
.product__description--data.active {
  height: auto;
  visibility: visible;
  padding: 24px 0;
}
.product__description--data.active:first-of-type {
  padding-top: 0;
  border-top: 0;
}
.product__description--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.product__description--header h3 {
  color: var(--color-primary);
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
}
.product__description--content p,
.product__description--content ul {
  color: #5B5B5B;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  margin: 8px 0;
  display: block;
}
.product__description--content .ingredients-grid {
  padding: 24px;
  display: grid;
  background-color: var(--color-secondary);
  border: 1px solid var(--color-primary);
  gap: 0 56px;
  grid-template-columns: 1;
}
.product__description--content .ingredients-grid--item {
  padding: 12px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  color: #5B5B5B;
}
.product__description--image-content {
  width: 100%;
}
.product__description--image-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin-inline: auto;
}

.product__reviews {
    padding: 12px 0;
}

.product__reviews--inner-wrapper {
    padding: 24px 32px;
    border-radius: 24px;
    border: 1px solid var(--color-primary);
    background: var(--color-secondary);
}

.product__reviews--delivery-banner {
    margin-bottom: 40px;
}

.product__reviews--delivery-banner h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.product__reviews--delivery-banner p {
    color: #717171;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

.product__reviews--delivery-icon {
    width: max-content;
    margin-inline: auto;
    margin-bottom: 24px;
}

.product__reviews--total-reviews {
    margin-bottom: 24px;
    margin-inline: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
    flex-direction: column;
}

.product__reviews--average-rating {
    max-width: 152px;
    width: 100%;
    flex-shrink: 0;
    margin-inline: auto;
}

.product__reviews--average-rating h4 {
    font-size: 32px;
    font-weight: 500;
    line-height: normal;
    color: var(--color-primary);
    text-align: center;
}

.product__reviews--average-rating p {
    color: var(--color-primary);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-top: 8px;
}

.product__reviews--ratings {
    gap: 8px;
}

.product__reviews--ratings span {
    width: 24px;
    height: 24px;
}

.product__reviews--ratings span svg {
    width: 100%;
    height: 100%;
}

.product__reviews--per-rating {
    flex-grow: 1;
    width: 100%;
}

.product__reviews--per-rating-item {
    gap: 16px;
    margin-bottom: 8px;
}

.product__reviews--per-rating-item:last-of-type {
    margin-bottom: 0;
}

.product__reviews--rating-header {
    gap: 8px;
}

.product__reviews--rating-header h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    color: var(--color-primary);
    width: 14px;
    flex-shrink: 0;
    text-align: right;
}

.product__reviews--rating-bar {
    height: 8px;
    flex: 1 0 0;
    background: #ECECEC;
}

.product__reviews--rating-bar-fill {
    height: 8px;
    flex: 1 0 0;
    background: #FCD116;
}

.product__reviews--rating-count span {
    font-size: 12px;    
    font-weight: 400;
    line-height: normal;
    color: var(--color-primary);
}

.product__reviews--write-review {
    width: 100%;
    max-width: 176px;
    margin-inline: auto;
    flex-shrink: 0;
}

/* Review List */
.product__reviews--list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
    padding: 48px 0;
}

.product__reviews--list-item {
    width: 100%;
    flex-grow: 1;
    padding-bottom: 24px;
    border-bottom: 1px solid #D6D6D6;
}

.product__reviews--avatar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product__reviews--avatar span {
    width: 64px;
    height: 64px;
    background: var(--color-primary);
    color: var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;    
    font-weight: 500;
    line-height: normal;
    border-radius: 50%;
}

.product__reviews--review-info {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.product__reviews--name h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 4px;
}

.product__reviews--name p {
    color: #5E5E5E;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product__reviews--reviewer-ratings {
    margin-top: 8px;
}

.product__reviews--review-text {
    margin: 16px 0;
}

.product__reviews--reviewer-image {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.product__reviews--reviewer-image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1/1;
    border-radius: 8px;
}

.product__reviews--see-all-reviews {
    margin-inline: auto;
    width: max-content;
}

@media screen and (min-width: 992px) {
  .homepage__faq {
    padding: 40px 32px;
  }
  .product__details {
    margin-top: 80px;
  }
  .product__details--media {
    margin-right: auto;
    width: calc(48.38% - 56px);
    position: sticky;
    top: 24px;
  }
  .product__details--text-content {
    width: calc(44.83% - 56px);
  }
  .product__details--text-inner {
    padding-bottom: 40px;
  }
  .product__details--inner-wrapper {
    padding: 56px 40px;
    gap: 56px;
  }
  .product__ratings {
    justify-content: flex-start;
  }
  .product__price {
    gap: 16px;
    justify-content: flex-start;
  }
  .product__cart {
    flex-wrap: nowrap;
  }
  .product__cart .btn {
    width: 50%;
  }
  .payment-list {
    margin-top: 40px;
    gap: 16.22px;
  }
  .payment-list .payment-icon {
    width: calc(20% - 16.22px);
  }
  .product__description {
    padding: 40px 0;
  }
  .product__description--data.active:not(:first-of-type) {
    padding: 40px 0;
  }
  .product__description--content .ingredients-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .product__reviews {
    padding: 40px 32px 0;
  }

  .product__reviews--inner-wrapper {
    padding: 40px 64px;
  }

  .product__reviews--list-item {
    width: calc(calc(100% / 3) - 32px);
  }
}