/** Breakpoints **/
:root {
  --zesty-coconut: #E5FFF2;
  --zesty-coconut-50: #00B75B;
  --zesty-coconut-80: #42643E;
  --zesty-lychee: #FFE8EF;
  --winty: #FBDEC0;
  --zesty-cucumber-lemon: #FCFBD2;
  --mixie: #FFB5CC;
}

.thank-you__hero {
  padding-block: 0 12px;
}
.thank-you__hero .new-product__image {
  max-width: 850px;
  width: 100%;
  margin-inline: auto;
}
.thank-you__hero .new-product__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media screen and (min-width: 992px) {
  .thank-you__hero {
    padding-block: 0 40px;
  }
}